@import "tailwindcss";

/* Gilroy Font Faces */
@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-Light.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-sans: "Gilroy", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;

  font-family: "Gilroy", ui-sans-serif, system-ui, sans-serif;
}

* {
  font-family: "Gilroy", ui-sans-serif, system-ui, sans-serif;
}

/* faq's title icon */
.faq-title::after {
  content: '';
  display: inline-block;
  background-image: url('../app/assets/icons/arrow-blue.png');
  background-repeat: no-repeat;
  background-size: 40px 35px;
  width: 40px;
  height: 35px;
  position: absolute;
}

@media (min-width: 768px) {
  .faq-title::after {
    background-size: 70px 60px;
    width: 70px;
    height: 60px;
  }
}

.hero-heading-title::after {
  content: '';
  display: block;
  margin-top: 12px;
  margin-left: 0;
  height: 10px;
  background-image: url('../app/assets/icons/accent-line.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .hero-heading-title::after {
    margin-top: 16px;
    margin-left: -55px;
    height: 16px;
  }
}

.double-heading-title::before {
  content: '';
  display: inline-block;
  background-image: url('../app/assets/icons/vec-blue.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: -20px !important;
  margin-left: -20px;
}

@media (min-width: 768px) {
  .double-heading-title::before {
    width: 70px;
    height: 70px;
    margin-top: -36px !important;
    margin-left: -36px;
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-slide-in-down {
  animation: slide-in-down 0.5s ease-out forwards;
}

.animate-slide-in-up {
  animation: slide-in-up 0.5s ease-out forwards;
}